.search-todo{
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    padding: 0 2rem;
    gap: 1rem;
    margin-top: 1rem;
}

.search-bar{
    height: 2.6rem;
    border-radius: 3rem;
    border: 2px solid var(--black);
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'open sans', sans-serif;
    outline: transparent;
}

.search-todo span{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 0;
    width: 3rem;
    height: 3rem;
}

.search-bar{
    background-color: var(--white);
}